.timerContainer{
    height: 500px;
    min-width: 280px;;
}

.timerContainer > section{
    height: 40%;
    display: grid;
    place-items: center;
}

.timerContainer > section:last-child button{
    background: green;
    width: 20vw;
    max-width: 240px;
    height: 40px;
    font-size: 20px;;
    border-radius: 8px;;
    min-width: 80px;
}

.timerContainer > section:last-child{
    display: flex;
justify-content: center;
align-items: center;
}

.timerContainer>section > span{
    font-size: 70px;;
}

#pauseAndResumeBtn{
    background-color: red;
}

#resetBtn,
#pauseAndResumeBtn{
    min-width: 80px;
}

#pauseAndResumeBtn{
    margin-right: 8px;
}

#resetBtn{
    margin-left: 8px;
}

#resetBtn{
    background-color: inherit;
    border: var(--borderColor)
}

@media(max-width: 767px){
    .settingsMenu>header{
        padding-left: 0px;;
    }
}


